<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header %>
    <p>Welcome to <%= title %></p>
    <p><%-htmlStr %></p>
    <% for(let i=0; i < indexData.length; i++) { %>
    <p data-id='<%= indexData[i].pid %>' onclick='fn(<%= indexData[i].pid %>)'>商品名：<%= indexData[i].p_name %></p>
    <% } %>

    <% indexData.forEach((ele,index)=>{ %>
      <p>商品名：<%= ele.p_name %></p>
    <% }) %>

    <script>
      function fn(id) {
        console.log(id);
      }
    </script>
  </body>
</html>
